.item {
  transition: transform 250ms linear;
}
.item:hover,
.item:focus {
  transform: scale(1.01);
}
.link {
  text-decoration: none;
}
.img {
  height: 400px;
  object-fit: cover;
}
.text {
  margin-top: 0.5rem;
}
