.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
.label {
  position: relative;
  min-width: 188px;
  width: 50%;
  font-size: 1.5rem;
}
.btn {
  position: absolute;
  top: 7px;
  left: 0;
  width: 36px;
  height: 36px;
}
.input {
  display: block;
  width: 90%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-left: 30px;
  border: 1px solid #0080ff;
  background-color: #fff;
  border-radius: 10px;
  transition: border-color 250ms linear;
}
.input:focus,
.input:not(:placeholder-shown) {
  border-color: #0066cc;
  outline: 1px solid #0066cc;
}
